/* Stylesheet Created by Lillion Hunt 1-29-19 */
section{
    padding-bottom: 0;
}
#team {
    padding-bottom: 150px;
}
#contact {
    padding-bottom: 150px;
}
header.masthead{
    background-image: url("../img/bg_v2.jpg");
    background-position: top center;
}